<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MIREAMOB_4sem"
        tools:targetApi="31">
        <activity
            android:name=".work8.Work84DetailActivity"
            android:exported="false" />
        <activity
            android:name=".work8.Work84"
            android:exported="false" />
        <activity
            android:name=".work8.Work83"
            android:exported="false" />
        <activity
            android:name=".work8.Work82"
            android:exported="false" />
        <activity
            android:name=".work8.Work81"
            android:exported="false" />
        <activity
            android:name=".work8.Work8Main"
            android:exported="false" />
        <activity
            android:name=".work7.Work711"
            android:exported="false" />
        <activity
            android:name=".work7.Work710"
            android:exported="false" />
        <activity
            android:name=".work7.Work79"
            android:exported="false" />
        <activity
            android:name=".work7.Work78"
            android:exported="false" />
        <activity
            android:name=".work7.Work77"
            android:exported="false" />
        <activity
            android:name=".work7.Work76"
            android:exported="false" />
        <activity
            android:name=".work7.Work75"
            android:exported="false" />
        <activity
            android:name=".work7.Work74"
            android:exported="false" />
        <activity
            android:name=".work7.Work73"
            android:exported="false" />
        <activity
            android:name=".work7.Work72"
            android:exported="false" />
        <activity
            android:name=".work7.Work71"
            android:exported="false" />
        <activity
            android:name=".work7.Work7Main"
            android:exported="false" />
        <activity
            android:name=".work6.Work66"
            android:exported="false" />
        <activity
            android:name=".work6.Work65"
            android:exported="false" />
        <activity
            android:name=".work6.Work64"
            android:exported="false" />
        <activity
            android:name=".work6.Work63"
            android:exported="false" />
        <activity
            android:name=".work6.Work62"
            android:exported="false" />
        <activity
            android:name=".work6.Work61"
            android:exported="false" />
        <activity
            android:name=".work6.Work6Main"
            android:exported="false" />
        <activity
            android:name=".work5.Work515"
            android:exported="false" />
        <activity
            android:name=".work5.Work514"
            android:exported="false" />
        <activity
            android:name=".work5.Work513"
            android:exported="false" />
        <activity
            android:name=".work5.Work512"
            android:exported="false" />
        <activity
            android:name=".work5.Work511"
            android:exported="false" />
        <activity
            android:name=".work5.Work510"
            android:exported="false" />
        <activity
            android:name=".work5.Work59"
            android:exported="false" />
        <activity
            android:name=".work5.Work58"
            android:exported="false" />
        <activity
            android:name=".work5.Work57"
            android:exported="false" />
        <activity
            android:name=".work5.Work56"
            android:exported="false" />
        <activity
            android:name=".work5.Work55"
            android:exported="false" />
        <activity
            android:name=".work5.Work54"
            android:exported="false" />
        <activity
            android:name=".work5.Work53"
            android:exported="false" />
        <activity
            android:name=".work5.Work52"
            android:exported="false" />
        <activity
            android:name=".work5.Work5Main"
            android:exported="false" />
        <activity
            android:name=".work5.Work51"
            android:exported="false" />
        <activity
            android:name=".work4.Work423"
            android:exported="false" />
        <activity
            android:name=".work4.Work422"
            android:exported="false" />
        <activity
            android:name=".work4.Work421"
            android:exported="false" />
        <activity
            android:name=".work4.Work420"
            android:exported="false" />
        <activity
            android:name=".work4.Work419"
            android:exported="false" />
        <activity
            android:name=".work4.Work418"
            android:exported="false" />
        <activity
            android:name=".work4.Work417"
            android:exported="false" />
        <activity
            android:name=".work4.Work416"
            android:exported="false" />
        <activity
            android:name=".work4.Work415"
            android:exported="false" />
        <activity
            android:name=".work4.Work414"
            android:exported="false" />
        <activity
            android:name=".work4.Work413"
            android:exported="false" />
        <activity
            android:name=".work4.Work412"
            android:exported="false" />
        <activity
            android:name=".work4.Work411"
            android:exported="false" />
        <activity
            android:name=".work4.Work410"
            android:exported="false" />
        <activity
            android:name=".work4.Work49"
            android:exported="false" />
        <activity
            android:name=".work4.Work48"
            android:exported="false" />
        <activity
            android:name=".work4.Work47"
            android:exported="false" />
        <activity
            android:name=".work4.Work46"
            android:exported="false" />
        <activity
            android:name=".work4.Work45"
            android:exported="false" />
        <activity
            android:name=".work4.Work44"
            android:exported="false" />
        <activity
            android:name=".work4.Work43"
            android:exported="false" />
        <activity
            android:name=".work4.Work42"
            android:exported="false" />
        <activity
            android:name=".work4.Work41"
            android:exported="false" />
        <activity
            android:name=".work4.Work4Main"
            android:exported="false" />
        <activity
            android:name=".work3.Work37"
            android:exported="false" />
        <activity
            android:name=".work3.Work36"
            android:exported="false" />
        <activity
            android:name=".work3.Work35"
            android:exported="false" />
        <activity
            android:name=".work3.Work34"
            android:exported="false" />
        <activity
            android:name=".work3.Work33"
            android:exported="false" />
        <activity
            android:name=".work3.Work32"
            android:exported="false" />
        <activity
            android:name=".work3.Work31"
            android:exported="false" />
        <activity
            android:name=".work3.Work3Main"
            android:exported="false" />
        <activity
            android:name=".work2.Work2Second"
            android:exported="false" />
        <activity
            android:name=".work2.Work2Main"
            android:exported="false"
            android:label="@string/title_activity_work2_main"
            android:theme="@style/Theme.MIREAMOB_4sem.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>